appdirs==1.4.3
asgiref==3.2.3
autopep8==1.5
braintree==3.53.0
certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
distlib==0.3.0
Django==2.2
django-allauth==0.36.0
django-crispy-forms==1.9.0
django-extensions==2.2.9
django-filter==2.2.0
filelock==3.0.12
idna==2.7
mysqlclient==1.4.6
oauthlib==2.1.0
pbr==5.4.4
Pillow==7.0.0
pycodestyle==2.5.0
PyMySQL==0.9.3
python3-openid==3.1.0
pytz==2018.4
requests==2.21.0
requests-oauthlib==1.0.0
six==1.14.0
sqlparse==0.3.0
stevedore==1.32.0
stripe==1.82.1
urllib3==1.24.2
utils==1.0.1
virtualenv==20.0.3
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
