{% extends 'BookDetails/base.html' %}
{% load crispy_forms_tags %}

{% block body %}

    <br>
    <div class="content-section">
    
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <a href="{% url 'index' %}"><button class="btn btn-outline-info" type="button">Cancel</button></a>
                <button class ="btn btn-outline-info" type="submit">Sign up</button>
            </div>
        </form>
        <div>
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    
    </div>

{% endblock %}