{% extends "BookDetails/base.html" %}
{% block body %}
    {% if Book.cover %}
        <br><br>
        <img class="img" src="{{ Book.cover.url }}" width="125" height="175">
        <br>
        <h2>{{ Book.book_name }}</h2>
        {{ Book.description}}
        <br><br>
        <b>Genre:</b> {{ Book.genre }}
        <br>
        <b>Publisher:</b> {{ Book.publishing_info }}
    {% else %}
        <h2>{{ Book.book_name }}</h2>
        {{ Book.description}}
        <br><br>
        <b>Genre:</b> {{ Book.genre }}
        <br>
        <b>Publisher:</b> {{ Book.publishing_info }}
    {% endif %}

{% endblock %}
