{% extends "BookDetails/base.html" %}
{% block body %} 
    <div class="container">
        <h1> Welcome to Geek Text </h1>
        <br>

        <div class="flexcontainer">
            {% for books in Book%}
               {% if books.cover %}
                <div class="card">
                    <img class="img" src="{{ books.cover.url }}" width="125" height="175"><br>
                    <a href="{{ books.get_absolute_url }}"> {{books.book_name}} </a>
                    <br>by: {{books.author}}
                </div>
                {% else %}
                <div class="card">
                    <a href="{{ books.get_absolute_url }}"> {{books.book_name}} </a>
                    <br>by: {{books.author}}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}