@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .wrapper .multi_color_border{
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #37a000 0% , #37a000 25%, #494949 25%, #494949 50%, #37a000 50%, #37a000 75%, #494949 75%, #494949 100%);
  }
  
  .wrapper .top_nav{
    margin-top: 5px;
    width: 100%;
    height: 65px;
    background: #fff;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .wrapper .top_nav .left{
    display: flex;
    align-items: center;
  }
  
  .wrapper .top_nav .left .logo p{
    font-size: 24px;
    font-weight: bold;
    color: #494949;
    font-family: "Mountains of Christmas", cursive;
    margin-right: 25px;
  }
  
  .wrapper .top_nav .left .logo p span{
    color: #37a000;
    font-family: "Mountains of Christmas", cursive;
  }
  
  .wrapper .top_nav .left .search_bar input[type="text"]{
    border: 1px solid #666666;
    padding: 5px 10px; 
    outline: none;
    transition: all 0.5s linear;
  }
  
  .wrapper .top_nav .left .search_bar input[type="text"]:focus{
    width: 250px;
  }
  
  .wrapper .top_nav .right ul{
    display: flex;
  }
  
  .wrapper .top_nav .right ul li{
    margin: 0 12px;
  }
  
  .wrapper .top_nav .right ul li:last-child{
    background:  #37a000;
    margin-right: 0;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .wrapper .top_nav .right ul li:first-child{
    background:  #37a000;
    margin-right: 0;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .wrapper .top_nav .right ul li:hover:last-child{
    background: #494949;
  }

  .wrapper .top_nav .right ul li:hover:first-child{
    background: #494949;
  }
  
  .wrapper .top_nav .right ul li a{
    display: block;
    padding: 8px 10px;
    color: #666666;
  }
  
  .wrapper .top_nav .right ul li:last-child a{
     color: #fff;
  }

  .wrapper .top_nav .right ul li:first-child a{
    color: #fff;
 }
  
  .wrapper .bottom_nav{
    width: 100%;
    background: #f9f9f9;
    height: 45px;
    padding: 0 50px;
  }
  
  .wrapper .bottom_nav ul{
    width: 50%;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .wrapper .bottom_nav ul li a{
    color: #494949;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
  }

  .wrapper .bottom_nav ul li a:hover{
    color: #37a000 ;
  }
  
  .wrapper .top_nav .fa{
      margin-left: 8px;
  }
  
 
  .wrapper .bottom_nav ul li a:hover {
    background: #ffffff;
    text-align: left;
  }

  .wrapper .bottom_nav ul li ul{
    background: #ffffff;
    display: none;
    position: absolute;
    list-style: none;
    color: #494949;
    z-index: 9999;
  }

  .wrapper .bottom_nav ul li:hover ul{
    display: block;
    width: 150px;
    color: #fff
  }

  .wrapper .bottom_nav ul li ul li{
    background: #ffffff;
    width: 100%;
    margin:0;
    padding:15px;
  }

  .wrapper .bottom_nav ul li ul li a{
    background: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    color: #494949;
  }

  .column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
      
      /* Left and right column */
   .column.side {
        width: 15%;
    }
      
      /* Middle column */
    .column.middle {
        width: 85%;
    }
      
      /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    } 
      
      
  .column.side .side_nav{
    background: #ffffff;
    text-align: left;
  }
  
  .column.side .side_nav ul{
    display: block;
    list-style: none;
    color: #494949;
  }
  
  .column.side .side_nav ul li{
    width: 100%;
    margin:0;
    padding:15px;
  }
  
  .column.side .side_nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    color: #494949;
  }

  active, .column.side .side_nav ul li a:hover{
    color: #37a000 ;
  }
  
  .column.middle .container{
    flex-direction: row;
    margin:0;
    justify-content: space-evenly;

  }*
  
  /* C.R added flex-wrap */
  /*Card for each book */
.flexcontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
  }
  
  /* C.R added width */
  .card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 20%;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  } 

  

    